import numpy as np
import matplotlib.pyplot as plt
fig=plt.figure(1)
a=np.arange(-3,3,0.01)
b=-np.square(a)#a与b在plot中形成一条抛物线
plt.plot(a,b,'r.')
plt.plot(a,b+1,'m.')
plt.plot(a,b+2,'y.')
plt.plot(a,b+3,'g.')
plt.plot(a,b+4,'b.')
plt.plot(a,b+5,'c.')
plt.plot(a,b+6,'.')
plt.title('Rainbow')
legend=plt.legend(loc='upper center', shadow=True, fontsize='x-large')
plt.show()
